.slider_container {
  overflow: hidden;
  position: relative;
}
.slider_container .slider-arrow-left,
.slider_container .slider-arrow-right {
  cursor: pointer;
}
.slider_container .slider {
  max-width: none;
}
.slider_container .slider .slide_container {
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
}
.slider_container .slider .slide_container .slide {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 0;
}
